<footer class="footer has-text-centered">
	<div class="container">
		À l'écoute du territoire est une émission originale diffusée à <a href="https://cism893.ca/emissions/a-lecoute-du-territoire" target="_blank">CISM 89,3</a> avec le soutien financier de la Fédération professionnelle des journalistes du Québec et l'Association générale des étudiants et étudiantes de la Faculté de l'éducation permanente de l'Université de Montréal.<br>Le gabarit de ce site est tiré de <a href="https://github.com/mnylc/preservethispodcast" target="_blank">Preserve This Podcast</a>. Ce site et l'ensemble de son contenu sont sous la license CC BY 4.0 <a class="preview" href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><img src="{{base}}/assets/images/ccby_license.png" alt="Creative Commons Attribution 4.0 International (CC BY 4.0)">
				</a>
	</div>
</footer>
