{% include base.html %}
<header id="is-sticky">
	<a href="/" class="is-pulled-left"><h1>À l'écoute du territoire</h1></a>
	<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenu">
		<a href="{{ base }}/pages/about.html">À propos</a>
		{% if site.data.content.episodes %}<a href="{{ base }}/#podcast">Podcast</a>{% endif %}
		<a href="{{ base }}/#zine">Dans les coulisses</a>
		<a class="preview" href="{{ site.data.content.cism_link }}" target="_blank"><img src="{{base}}/assets/images/CISM_Logo.png" alt="CISM" height: 100% widht: auto>
    </div>
    <a role="button" class="navbar-burger is-hidden-desktop" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

	</nav>
</header>
